<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

</head>
<body>
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg ContactBackgroundColorScheme">
    <div class="container">
      <a class="navbar-brand" href="/">Fantasia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Trending</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/vanity">Vanity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#">Utility</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ability</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="px-2 search" type="search" placeholder="Search" aria-label="Search" style="border: 2px solid rgb(43, 144, 226);;">
          <button class="button" type="submit" style="background-color: rgb(43, 144, 226);">Search</button>
        </form>
        <a href="/cart"><img class="PurchaseCartIcon" src="/img/icons/shopping-cart.png" alt="Purchase"></a>
      </div>
    </div>
  </nav>
  <!--Navbar End-->
  
  <!--Page Start-->
  
  <!--Info-->
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
</body>
</html>