<!doctype html>
<html lang="en"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg HomeBackgroundColorScheme">
  <div class="container">
    <a class="navbar-brand" href="/">Fantasia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#TrendingItems">Trending</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/vanity">Vanity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/utility">Utility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="px-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="button" type="submit">Search</button>
      </form>
      <a href="/cart"><img class="PurchaseCartIcon" src="/img/icons/shopping-cart.png" alt="Purchase"></a>
    </div>
  </div>
</nav>

<section class="main">
    <div class="container py-5 ">
        <div class="row py-4">
            <div class="col-lg-7 pt-5 text-center">
              <h1>Your adventure begins !</h1>
              <button class="'button1 mt-3">Click here to begin</button>
            </div>
        </div>
    </div>
</section>



<!--Carousel of items-->
<div class="container py-5" id="TrendingItems">
  <div class="row">
    <h3 class="text-center pb-3" style="font-family: 'Ibarra Real Nova', serif;">Trending Wares</h3>
      <div class="col justify-content-center">
          <div id="carouselExampleControls" class="carousel slide HomeBorderColorScheme" data-bs-ride="carousel">
              <div class="carousel-inner">

              <!-- Start of First slide of items in carousel-->
              <div class="carousel-item active">
                  <div class="container">
                      <div class="row">
                          <div class="col-4 d-flex justify-content-center" style="object-fit: contain">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 0 0</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-4 d-flex justify-content-center">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 0 1</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-4 d-flex justify-content-center">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 0 2</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End of First slide of items in carousel-->

              <!-- Start of Second slide of items in carousel-->
              <div class="carousel-item">
                  <div class="container">
                      <div class="row">
                          <div class="col-4 d-flex justify-content-center" style="object-fit: contain">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 1 0</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-4 d-flex justify-content-center">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 1 1</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-4 d-flex justify-content-center">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 1 2</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End of Second slide of items in carousel-->

              <!-- Start of Third slide of items in carousel-->
              <div class="carousel-item">
                  <div class="container">
                      <div class="row">
                          <div class="col-4 d-flex justify-content-center" style="object-fit: contain">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 2 0</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-4 d-flex justify-content-center">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 2 1</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-4 d-flex justify-content-center">
                              <div class="card py-1 my-5 HomeBackgroundColorScheme" style="max-width: 18rem; min-width: 18rem; margin: auto;">
                                  <img src="..." class="card-img-top m-auto" alt="..." style="max-width: 17rem; min-width: 17rem">
                                  <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-center">Item 2 2</h5>
                                    <p class="card-text"></p>
                                    <div class="d-flex justify-content-center">
                                      <a href="#" class="btn m-auto btnPurchaseColorScheme">Purchase</a>
                                      <a href="#" class="btn m-auto btnCartColorScheme">Add to Cart</a>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End of Third slide of items in carousel-->
              </div>

              <!--Start of 'Previous' and Next controls for carousel-->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-prev-icon" aria-hidden="true" style="filter:invert(90%);"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-next-icon" aria-hidden="true" style="filter:invert(90%);"></span>
              <span class="visually-hidden">Next</span>
              </button>
              <!--End of 'Previous' and Next controls for carousel-->

          </div>
      </div>
  </div>
</div>
<!--End of carousel of items-->

<!--Bottom of Page-->
<section class="Wares HomeBackgroundColorScheme">
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="col-lg-12 m-auto">
        <div class="row text-center">
          <h2 style="font-family: 'Ibarra Real Nova', serif;">Available Services</h2>
          <br>
          <br>
          <br>
          <div class="col-lg-2">
            <img src="/img/icons/weapons.png" class="img-icon " alt=" ">
            <h6>Weapons and armor</h6>
          </div>
          <div class="col-lg-2">
            <img src="/img/icons/volume.png" class="img-icon " alt=" ">
            <h6>Enchantments</h6>
          </div>
          <div class="col-lg-2">
            <img src="/img/icons/scroll.png" class="img-icon " alt=" ">
            <h6>Scrolls</h6>
          </div>
          <div class="col-lg-2">
            <img src="/img/icons/pot.png" class="img-icon " alt=" ">
            <h6>Alchemy</h6>
          </div>
          <div class="col-lg-2">
            <img src="/img/icons/potion.png" class="img-icon " alt=" ">
            <h6>Potions</h6>
          </div>
          <div class="col-lg-2">
            <img src="/img/icons/hammer.png" class="img-icon " alt=" ">
            <h6>Smithing</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

</section>

<section class="What's trending">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>